<section>

  <div class="normal-card card card-cascade narrower">

    <section>

      <div class="row">

        <div class="col-xl-12 col-lg-12 mr-0">

          <div class="view gradient-card-header blue-gradient">

            <h2 class="h2-responsive mb-0">Sales</h2>
          </div>

          <div class="card-body pb-0">

            <div class="row card-body pt-3">

              <div class="col-md-5 text-center post-num">

                <div style="float:left;">
              <div>facebook<br><span> {{postCover}} </span></div>
                <div>twitter<br><span> 45k </span></div>
                <div>pantip<br><span> 45k </span></div>
              </div>
              <div class="right">
                <div><span>Posts</span></div>
                  <div><span>Tweets</span></div>
                <div>  <span>Posts</span></div>

              </div>
              </div>

              <div class="col-md-7">
                <div class="view gradient-card-header white" style="height:170px;width:170px;">
                  <canvas  style="width: 212px; height: 256px"  baseChart [chartType]="'pie'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true" (chartClick)="onChartClick($event)">
                  </canvas>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </section>
  </div>
</section>
