<div class="container" style="display: flex;justify-content: flex-end;">
  <button type="button" class="btn btn-primary" (click)="addUser()">Add User</button>

</div>
<div class="container">
  <div class="col-md-9 mx-auto">
    <div class="row">
      <div class="col-md-6">
        <h3>Product Owner</h3>
      </div>
      <div class="col-md-6 search">
        <input type="text" placeholder="search" [(ngModel)]="query">
      </div>
    </div>
    <table class="table">
      <!--Table head-->
      <thead class="blue-grey lighten-4">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Phone number</th>
          <th></th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <!-- <tr *ngFor="let province of provinces1;let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{province.city}}</td>
          <td>{{province.num}}</td> 
        </tr> -->
        <tr *ngIf="(owners | search: query : 'name').length === 0">
            <th colspan="5" class="notFound">Data not found</th> 
          </tr>
        <tr *ngFor="let owner of owners | search: query : 'name';let i = index" >
          <th>{{i+1}}</th>
          <td>{{owner.name}}</td>
          <td>owner</td>
          <td>owner@gmail.com</td>
          <td>34434343</td>
          <td>
            <button class="btn btn-primary button" (click)="edit(owner)">edit</button>
            <button class="btn btn-danger button" (click)="remove(owner)">x</button>
          </td>

        </tr>

      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
  <div class="col-md-9 mx-auto">
    <div class="row">
      <div class="col-md-6">
        <h3>Staff</h3>
      </div>
      <div class="col-md-6 search">
        <input type="text" placeholder="search" [(ngModel)]="query1">
      </div>
    </div>
    <table class="table">
      <!--Table head-->
      <thead class="blue-grey lighten-4">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Phone number</th>
          <th></th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <!-- <tr *ngFor="let province of provinces1;let i = index"> -->
        <!-- <th scope="row">{{i+1}}</th>
          <td>{{province.city}}</td>
          <td>{{province.num}}</td> -->

        <tr *ngIf="(staffs | search: query1 : 'name').length === 0">
          <th colspan="5" class="notFound">Data not found</th> 
        </tr>
        <tr *ngFor="let staff of staffs | search: query1 : 'name';let i = index ">
          <th>{{i+1}}</th>
          <td>{{staff.name}}</td>
          <td>staff</td>
          <td>staff@gmail.com</td>
          <td>343433</td>
          <td>
            <button class="btn btn-primary button" (click)="edit(staff)">edit</button>
            <button class="btn btn-danger button" (click)="remove(staff)">x</button>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
