<div class="container1">
  <app-month-card></app-month-card>
  <app-analysis-result></app-analysis-result>
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <app-post-converage></app-post-converage>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-top-trend></app-top-trend>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-sentiment></app-sentiment>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 ">
      <app-gender></app-gender>
    </div>
    <div class="col-xl-8 ">
      <app-geo-distribution></app-geo-distribution>
    </div>
  </div>
</div>
