<section>
  <div class="normal-card card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-12 col-lg-12 mr-0">
          <div class="view gradient-card-header blue-gradient">
            <h2 class="h2-responsive mb-0">Total Comments</h2>
          </div>
          <div class="card-body pb-0">
            <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="changeDate($event.target.textContent)">
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row card-body pt-3">
  
              <div class="col-md-12 post-num">
                <div class="center">Positive
                  <span> {{pos}} </span>comments</div>
                <div class="center">Negative
                  <span> {{neg}} </span>comments</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
