<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="login" [hidden]="isReset">
      <h1>Login</h1>
      <hr><br>
      <form (ngSubmit)="onLogin()" novalidate>
       <div class="form-group">
         <label for="username">Username</label>
         <input #field="ngModel" type="text" class="form-control" id="username" placeholder="enter username" [(ngModel)]="user.username" name="username" required [rangeLength]="[4, 20]">
          <p *ngIf="field.errors?.required&&field.touched">The username field is required</p>
          <p *ngIf="field.errors?.rangeLength">minimum length is 4</p>
       </div>
       <div class="form-group">
         <label for="password">Password</label>
         <input #fieldPW="ngModel" type="password" class="form-control" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password" required [rangeLength]="[4, 20]">
          <p *ngIf="fieldPW.errors?.required&&fieldPW.touched">The password field is required</p>
          <p *ngIf="fieldPW.errors?.rangeLength">minimum length is 4</p>
       </div>

         <p >{{errorMessage}}</p>
       <button type="submmit"  class="btn btn-default">Login</button><span (click)="isReset=!isReset" style="color:#2BBBAD;">Forget Password</span>
      </form>
    </div>
    <div class="resetPW" [hidden]="!isReset">
      <h1>Reset Password</h1>
      <hr><br>
      <form (ngSubmit)="resetPassword()" novalidate>
       <div class="form-group">
         <label for="username">Username</label>
         <input #field="ngModel" type="text" class="form-control" id="username1" placeholder="enter username" [(ngModel)]="user.username" name="username" required [rangeLength]="[4, 20]">
          <p *ngIf="field.errors?.required&&field.touched">The username field is required</p>
          <p *ngIf="field.errors?.rangeLength">minimum length is 4</p>
       </div>
       <div class="form-group">
         <label for="password">Email</label>
         <input #fieldEmail="ngModel" type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email" name="email" required email >
          <p *ngIf="fieldEmail.errors?.required&&fieldEmail.touched">The email field is required</p>
          <p *ngIf="fieldEmail.errors?.email">Email is invalid</p>

       </div>
       <div class="form-group">
       <mat-form-field>
         <mat-select [(value)]="selected">
           <mat-option *ngFor="let food of foods" [value]="food.value" [(ngModel)]="user.question" (click)="getGender($event.target.textContent)">
             {{ food.viewValue }}
           </mat-option>
         </mat-select>
       </mat-form-field>
     </div>
     <div class="form-group">
       <label for="password">Answer</label>
       <input #fieldAn="ngModel" type="password" class="form-control" id="newpassword" placeholder="enter answer" [(ngModel)]="user.answer" name="answer" required [rangeLength]="[4, 20]">
        <p *ngIf="fieldAn.errors?.required&&fieldAn.touched">The password field is required</p>
        <p *ngIf="fieldAn.errors?.rangeLength">minimum length is 4</p>
     </div>
       <div class="form-group">
         <label for="password">New Password</label>
         <input #fieldPW="ngModel" type="password" class="form-control" id="answer" placeholder="enter password" [(ngModel)]="user.password" name="password" required [rangeLength]="[4, 20]">
          <p *ngIf="fieldPW.errors?.required&&fieldPW.touched">The password field is required</p>
          <p *ngIf="fieldPW.errors?.rangeLength">minimum length is 4</p>
       </div>
       <div class="form-group">
         <label for="confirmPassword">Confirm Password</label>
         <input #fieldconfirmPassword="ngModel" type="password" class="form-control" id="cmpassword" placeholder="enter confirm password" [(ngModel)]="confirmPassword" name="confirmPassword" required [rangeLength]="[4, 20]">
          <p *ngIf="fieldconfirmPassword.errors?.required&&fieldconfirmPassword.touched">The confirm password field is required</p>
          <p *ngIf="fieldconfirmPassword.errors?.rangeLength">minimum length is 4</p>
       </div>
       <p >{{errorMessageInReset}}</p>
       <button (click)="isReset=!isReset" (click)="isReseted=!isReseted"  class="btn btn-default">Login</button>
       <button type="submmit" [hidden]="isReseted"  class="btn btn-default">Reset</button>
      </form>
    </div>
  </div>
</div>
