$fb-color: #3C5A99;
$twitter-color: #34BDF0;
$pantip-color: #512880;

mat-form-field {
  width: 100%;
}
.mat-form-field{
  font-size: 10px;
position: absolute;
text-align: right;
left: 10px;
top: -30px;
width: 50px;
}
span.mat-select-placeholder{
  color: white!important;
}
.h2-responsive {
  color: white;
  font-size: 110%;
}
.blue-gradient{
  background:  #45cafc!important;
}
.header{
  width: 35%!important;
}
.wordDate{
  text-align: right;
  margin-right: 50px;
  margin-top: -17px;
  color: gray;
  font-size: 12px;
}
.post-num {
  width: 100%;
  height: 50px;
  line-height: 40px;
  vertical-align: middle;
}

.card-body {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  height: 200px;
}

canvas {
  position: absolute;
  left: -40px;
  top: -40px;
}

.post-num div {
  text-align: left;
  font-size: 18px;
  span{
    font-size: 30px;
  }
  &:first-child {
    color: $fb-color;
  }

  &:nth-child(2) {
    color: $twitter-color;
  }

  &:last-child {
    color: $pantip-color;
  }
}
word-cloud{
  z-index: 100;
}
@media (max-width:991px ){
  .all{
    margin-top:70px!important;
  }

}
