<section>
  <div class="normal-card card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-12 col-lg-12 mr-0">
          <div class="view gradient-card-header blue-gradient header">
            <h2 class="h2-responsive mb-0">Top User</h2>
          </div>
          <div class="card-body pb-0">
            <p style="
                text-align:  right;
                margin-right: 43px;
                margin-top: -37px;
                font-size: 14px;
                color:  gray;
                margin-bottom: 0;">Last
              3 days</p>

            <div class="row card-body">
              <table>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Interaction</th>
                </tr>
                <tr *ngFor="let topuser of topUsers ;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{topuser.name}}</td>
                  <td>{{topuser.activities}}</td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
