$men: #1592E6;
$women: #EA4036;
.h2-responsive {
  color: white;
}
.header{
  width: 35%!important;
}
.card{
  height: 300px;
}
.gender-card{
  margin-top: 0px;
  padding: 0px;
}
.icon {
  margin-bottom: 10px;
  height: auto;
  margin-left: 70%;
  img{
  width: 30px;
}
  &:first-child img{
    width: 40px;
margin-left: -8%;
  }

}

.gender-count {
  position: relative;
  font-weight: 500;
  margin-left: -10px;
  &:first-child{
    color: $men;
  }
  &:last-child{
    color: $women;
  }
  span{
    position: absolute;
top: 20px;
left: 0px;
  }
}
table {
  width: 90%;
    margin-top: -20px;
    tr{
      line-height: 10px;
    }

  }

  @media (max-width: 1199px ){
    .all{
      margin-top:70px!important;
    }

  }
  .mat-form-field{
    font-size: 10px;
  position: absolute;
  text-align: right;
  left: 30px;
  top: 40px;
  width: 50px;
  z-index: 100;
  }
  span.mat-select-placeholder{
    color: white!important;
  }
