<section>

  <div class="card card-cascade narrower">

    <section>

      <div class="row">

        <div class="col-xl-12 col-lg-12 mr-0">

          <div class="view gradient-card-header blue-gradient header">

            <h2 class="h2-responsive mb-0">Sales</h2>
          </div>

          <div class="card-body pb-0 gender-card">
            <div class="row">
            <div class="col-xl-6">
              <div class="geo"></div>
            </div>
            <div class="col-xl-6  ">
              <div class="gender-count">Male <span>59%</span></div>
              <br>
              <br>
              <div class="gender-count">Female <span>59%</span></div>
            </div>
            </div>
          </div>
        </div>


      </div>
    </section>
  </div>
</section>
