<section >

  <div class="card card-cascade narrower">

    <section >

      <div class="row">

        <div class="col-xl-12 col-lg-12 mr-0">

          <div class="view gradient-card-header blue-gradient header">

            <h2 class="h2-responsive mb-0">Gender</h2>
          </div>

          <div class="card-body pb-0 gender-card">
            <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="getGender($event.target.textContent)">
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
            <div class="col-md-6">
              <div class="icon"><img src="./../assets/men_icon.svg" alt="men_icon"></div>
              <div class="icon"><img src="./../assets/women_icon.svg" alt="women_icon"></div>
            </div>
            <div class="col-md-6 ">
              <div class="gender-count">Male <span>{{male}}%</span></div>
              <br>
              <br>
              <div class="gender-count">Female <span>{{female}}%</span></div>
            </div>
            </div>
          </div>
        </div>


      </div>
    </section>
  </div>
</section>
