<div class="container mt-4">
  <div class="col-md-5 mx-auto">
    <h3 class="title">Profile</h3>
    <p>Username</p>
    <input type="text"  [(ngModel)]="user.username">
    <p>Firstname</p>
    <input type="text" [(ngModel)]="user.firstname">
    <p>Surname</p>
    <input type="text" [(ngModel)]="user.surname">
    <p>Email</p>
    <input type="text" [(ngModel)]="user.email">
    <p>Phone</p>
    <input type="text" [(ngModel)]="user.phone">
    <p>Address</p>
    <input type="text" [(ngModel)]="user.address">
    <p>Question</p>
    <p>{{user.question}}</p>
    <p>Answer</p>
    <input type="text" [(ngModel)]="user.answer">
    <p>Role</p>
    <input type="text" [(ngModel)]="user.statue">
    <div class="row">
      <button class="btn cancel button" [routerLink]="['/users']">Cancel</button>
      <button class="btn btn-primary button" (click)="save()">Save</button>
    </div>
  </div>
</div>
