.h2-responsive {
    color: white;
    font-size: 110%;
  }
  .blue-gradient{
    background:  #45cafc!important;
  }
  .header{
    width: 35%!important;
  }
  .card-box{
    margin-top: -43px;
    margin-left: 5px;
  }
  canvas{
    width: 461px;
    height: 230px;
  }