mat-form-field{
  width: 100%;
}
canvas{
  width: 100%;
  height: auto;
}
.header{
  width: 35%!important;
}
.h2-responsive {
  color: white;
  font-size: 110%;
}
.blue-gradient{
  background:  #45cafc!important;
}
.dateLabel{
  margin-bottom: -11px;
  text-align: left;
}