<!-- <div class="col-xl-4 col-lg-6">
  <app-sentiment></app-sentiment>
</div>
<div class="col-xl-4 col-lg-6">
  <app-top-trend></app-top-trend>
</div> -->
<!-- <div class="col-xl-4 col-lg-6">
  <app-top-neg-trend></app-top-neg-trend>
</div>-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <app-sentiment-table></app-sentiment-table>
    </div>
    <div class="col-md-4">
      <app-sentiment-total></app-sentiment-total>
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-md-6">
          <app-influencer></app-influencer>
        </div>
        <div class="col-md-6">
            <app-top-user></app-top-user>
          </div>
  </div>
</div>


<!-- <div class="col-xl-4 col-lg-6">
  <app-influencer></app-influencer>
</div>
<div class="col-xl-4 col-lg-6">
  <app-top-user></app-top-user>
</div> -->
