<section>
    <div class="normal-card card card-cascade narrower">
      <section>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mr-0">
            <div class="view gradient-card-header blue-gradient">
              <h2 class="h2-responsive mb-0">Percentage of Comment Sentiment</h2>
            </div>
            <div class=" pb-0" style="margin-top: 30px;">
              <div>
                <div class=" row pt-3">
                  <div class="col-md-6">
                    <div class="view gradient-card-header white" style="height: 130px;width: 140px;margin-left: 30px;">
                      <canvas style="width: 150px; height: 168px;" baseChart [chartType]="'pie'" [datasets]="chartData"
                        [labels]="chartLabels" [options]="chartOptions" [legend]="true" (chartClick)="onChartClick($event)">
                      </canvas>
                    </div>
                  </div>
                  <div class="col-md-6 text-center post-num">
                    <p class="date">Last 3 days</p>
                    <div>Positive<span> {{posNum}} </span>({{pos}}%)</div>
                    <div>Negative<span> {{negNum}} </span>({{neg}}%)</div>
                  </div>
                </div>
                <app-oppo-week-pie></app-oppo-week-pie>
                <app-oppo-month-pie></app-oppo-month-pie>
              
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  