<section class="all">

    <div class=" normal-card card card-cascade narrower">
  
      <section>
  
        <div class="row">
  
          <div class="col-xl-12 col-lg-12 mr-0">
  
            <div class="view gradient-card-header blue-gradient header">
  
              <h2 class="h2-responsive mb-0">Top Negative Trend</h2>
            </div>
            <div class="wordDate">Last 3 days</div>
            <div class="card-body pb-0">
  
              <div class="row card-body ">
         
                <oppo-word-cloud-neg [wordData]="data"></oppo-word-cloud-neg>
  
  
  
              </div>
  
            </div>
          </div>
  
  
        </div>
      </section>
    </div>
  </section>
  